# Proyek Analisis Data: Bike Sharing Dataset
- **Nama:** M. Zidan Richal Fajril Falah
- **Email:** richalfajril@gmail.com
- **ID Dicoding:** richalfajril

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1
- Pertanyaan 2

## Import Semua Packages/Library yang Digunakan

In [146]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

Memuat tabel 5 data teratas dari data day.csv sebagai berikut:

In [147]:
day_df = pd.read_csv("data/day.csv")
day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

Memuat tabel 5 data teratas dari data hour.csv sebagai berikut:

In [148]:
hour_df = pd.read_csv("data/hour.csv")
hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

**Insight:**

**KARAKTERISTIK DATA**

Baik hour.csv maupun day.csv memiliki kolom-kolom berikut, kecuali hr yang tidak tersedia di day.csv

- **instant:** indeks rekaman
- **dteday:** tanggal
- **season:** musim (1: semi, 2: panas, 3: gugur, 4: dingin)
- **yr:** tahun (0: 2011, 1: 2012)
- **mnth:** bulan (1 hingga 12)
- **hr:** jam (0 hingga 23)
- **holiday:** apakah hari tersebut adalah hari libur atau tidak
- **weekday:** hari dalam seminggu
- **workingday:** jika hari tersebut bukan akhir pekan maupun hari libur adalah 1, jika tidak 0.
- **weathersit:**
    - 1: Jelas, Beberapa awan, Sebagian berawan
    - 2: Kabut + Berawan, Kabut + Awan terputus, Kabut + Beberapa awan, Kabut
    - 3: Salju ringan, Hujan ringan + Badai petir + Awan tersebar, Hujan ringan + Awan tersebar
    - 4: Hujan deras + Peluru es + Badai petir + Kabut, Salju + Kabut
- **temp:** Suhu yang dinormalisasi dalam Celsius. Nilai dibagi 41 (maks)
- **atemp:** Suhu yang dirasakan yang dinormalisasi dalam Celsius. Nilai dibagi 50 (maks)
- **hum:** Kelembapan yang dinormalisasi. Nilai dibagi 100 (maks)
- **windspeed:** Kecepatan angin yang dinormalisasi. Nilai dibagi 67 (maks)
- **casual:** jumlah pengguna kasual
- **registered:** jumlah pengguna terdaftar
- **cnt:** jumlah total sepeda sewa termasuk kasual dan terdaftar

Sumber: readme.txt dalam zip dataset

### Assessing Data

Menilai data day.csv

- Memeriksa tipe data dari tiap kolom:

In [149]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

> Seharusnya 'dteday' memiliki data tipe int bukan object. Beberapa mungkin perlu diganti perlu diganti tipe datanya menjadi category

- Memeriksa missing value:

In [150]:
day_df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

> Jika diperhatikan, jumlah data pada day_df telah lengkap atau dengan kata lain tidak ada missing value di dalamnya

- Memeriksa duplikasi dan menampilkan ringkasan parameter statistik:

In [151]:
print("Jumlah duplikasi", day_df.duplicated().sum())

day_df.describe(include="all")

Jumlah duplikasi 0

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
unique,NaN,731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,366.000000,NaN,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,NaN,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,NaN,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,NaN,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,NaN,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,NaN,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,NaN,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

> Jika diperhatikan, tidak ada keanehan pada hasil tersebut. Ini menunjukkan tidak terdapat duplikasi dan keanehan nilai pada day_df.

Menilai data hour.csv

- Memeriksa tipe data dari tiap kolom:

In [152]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

> Seharusnya 'dteday' memiliki data tipe int bukan object, dan beberapa kolom perlu diganti tipe datanya menjadi categories

- Memeriksa missing value:

In [153]:
hour_df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

> Tidak terdapat *missing value* dalam data hour.csv

- Memeriksa duplikasi dan menampilkan ringkasan parameter statistik:

In [154]:
print("Jumlah duplikasi", hour_df.duplicated().sum())

hour_df.describe(include="all")

Jumlah duplikasi 0

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
unique,NaN,731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2011-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,8690.0000,NaN,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,NaN,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,NaN,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,NaN,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,NaN,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,NaN,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,NaN,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

> Jika diperhatikan, tidak ada keanehan pada hasil tersebut. Ini menunjukkan tidak terdapat duplikasi dan keanehan nilai pada hour_df.

**Insight:**
- Beberapa kolom, seperti dteday, perlu diubah tipe datanya dari object ke tipe yang lebih sesuai, seperti int atau datetime. Selain itu, beberapa kolom lain sebaiknya dikonversi ke tipe category untuk efisiensi dan kemudahan analisis.
- Tidak ada missing value dalam kedua dataset (day_df dan hour_df), menunjukkan data sudah lengkap dan siap dianalisis tanpa perlu penanganan khusus untuk nilai yang hilang.
- Tidak ada data duplikat atau anomali yang ditemukan dalam kedua dataset, menunjukkan bahwa data bersih dan konsisten

### Cleaning Data

Mengubah tipe data pada kolom "dteday" day.csv dan hour.csv menjadi tipe data datetime:

In [155]:
day_df["dteday"] = pd.to_datetime(day_df["dteday"])
hour_df["dteday"] = pd.to_datetime(hour_df["dteday"])

Memeriksa kembali apakah tipe data dteday pada day.csv dan hour.csv sudah terganti:

In [156]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    datetime64[ns]
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 91.5 KB

In [157]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  datetime64[ns]
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12)
memory usage: 2.3 MB

Mengubah nama kolom agar memperjelas data dan menampilkan hasil perubahan kolom data day.csv:

In [162]:
day_df.rename(columns={
    "instant": "no",
    "dteday": "tanggal",
    "season": "musim",
    "yr": "tahun",
    "mnth": "bulan",
    "holiday": "hari_libur",
    "weekday": "hari",
    "workingday": "hari_kerja",
    "weathersit": "cuaca",
    "temp": "suhu",
    "atemp": "suhu_subjek",
    "hum": "kelembapan",
    "windspeed": "kecepatan_angin",
    "casual": "kasual",
    "registered": "terdaftar",
    "cnt": "total"
}, inplace=True)

#Menampilkan 5 data teratas
day_df.head()

,no,tanggal,musim,tahun,bulan,hari_libur,hari,hari_kerja,cuaca,suhu,suhu_subjek,kelembapan,kecepatan_angin,kasual,terdaftar,total
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

Mengubah nama kolom agar memperjelas data dan menampilkan hasil perubahan kolom data hour.csv:

In [165]:
hour_df.rename(columns={
    "instant": "no",
    "dteday": "tanggal",
    "season": "musim",
    "yr": "tahun",
    "mnth": "bulan",
    "holiday": "hari_libur",
    "hr": "jam",
    "weekday": "hari",
    "workingday": "hari_kerja",
    "weathersit": "cuaca",
    "temp": "suhu",
    "atemp": "suhu_subjek",
    "hum": "kelembapan",
    "windspeed": "kecepatan_angin",
    "casual": "kasual",
    "registered": "terdaftar",
    "cnt": "total"
}, inplace=True)

#Menampilkan 5 data teratas
hour_df.head()

,no,tanggal,musim,tahun,bulan,jam,hari_libur,hari,hari_kerja,cuaca,suhu,suhu_subjek,kelembapan,kecepatan_angin,kasual,terdaftar,total
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

Mengubah tipe data menjadi "category" pada beberapa kolom yang relevan dalam day.csv dan hour.csv agar data mudah dibaca dan dipahami:

In [171]:
#Fungsi mengubah tipe data menjadi category
categories = ['musim', 'bulan', 'hari', 'cuaca']

for category in categories:
    day_df[category] = day_df[category].astype('category')
    hour_df[category] = hour_df[category].astype('category')

Cek lagi apakah tipe data sudah terganti

In [173]:
day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   no               731 non-null    int64
 1   tanggal          731 non-null    datetime64[ns]
 2   musim            731 non-null    category
 3   tahun            731 non-null    int64
 4   bulan            731 non-null    category
 5   hari_libur       731 non-null    int64
 6   hari             731 non-null    category
 7   hari_kerja       731 non-null    int64
 8   cuaca            731 non-null    category
 9   suhu             731 non-null    float64
 10  suhu_subjek      731 non-null    float64
 11  kelembapan       731 non-null    float64
 12  kecepatan_angin  731 non-null    float64
 13  kasual           731 non-null    int64
 14  terdaftar        731 non-null    int64
 15  total            731 non-null    int64
dtypes: category(4), datetime64[ns](1), float64(4), int64(7)
memory usage: 72.6 KB

In [174]:
hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   no               17379 non-null  int64
 1   tanggal          17379 non-null  datetime64[ns]
 2   musim            17379 non-null  category
 3   tahun            17379 non-null  int64
 4   bulan            17379 non-null  category
 5   jam              17379 non-null  int64
 6   hari_libur       17379 non-null  int64
 7   hari             17379 non-null  category
 8   hari_kerja       17379 non-null  int64
 9   cuaca            17379 non-null  category
 10  suhu             17379 non-null  float64
 11  suhu_subjek      17379 non-null  float64
 12  kelembapan       17379 non-null  float64
 13  kecepatan_angin  17379 non-null  float64
 14  kasual           17379 non-null  int64
 15  terdaftar        17379 non-null  int64
 16  total            17379 non-null  int64
dtypes: category(4), datetime64[ns](1), float64(4), int64(8)
memory usage: 1.8 MB

Melakukan konversi atau penggantian kategori pada kolom 'musim', 'bulan', 'hari', 'cuaca' di dataframe day_df dan hour_df menggunakan kategori baru

In [172]:
#Fungsi konversi
def konversi (df, col_and_ctg):
    for col, ctg in col_and_ctg.items():
        df[col] = df[col].cat.rename_categories(ctg)
    return df

In [185]:
#Konversi musim
season_dict = {
    'musim':{
        1:'Semi',
        2:'Panas',
        3:'Gugur',
        4:'Dingin'
    }
}

day_df = konversi(day_df, season_dict)
hour_df = konversi(hour_df, season_dict)

In [186]:
#Konversi bulan
month_dict = {
    'bulan':{
        1: 'Januari',
        2: 'Februari',
        3: 'Maret',
        4: 'April',
        5: 'Mei',
        6: 'Juni',
        7: 'Juli',
        8: 'Agustus',
        9: 'September',
        10: 'Oktober',
        11: 'November',
        12: 'Desember'
    }
}

day_df = konversi(day_df, month_dict)
hour_df = konversi(hour_df, month_dict)

In [187]:
#Konversi hari
day_dict = {
    'hari':{
        0: 'Minggu',
        1: 'Senin',
        2: 'Selasa',
        3: 'Rabu',
        4: 'Kamis',
        5: 'Jumat',
        6: 'Sabtu'
    }
}

day_df = konversi(day_df, day_dict)
hour_df = konversi(hour_df, day_dict)

In [205]:
#Konversi Cuaca
weather_dict = {
    'cuaca':{
        1: 'Cerah',
        2: 'Berkabut',
        3: 'Hujan/Salju Ringan',
        4: 'Hujan/Salju Lebat'
    }
}

day_df = konversi(day_df, weather_dict)
hour_df = konversi(hour_df, weather_dict)

Konversi tahun agar data mudah dibaca

In [209]:
year_mapping = {
    0: '2011',
    1: '2012'
}

day_df['tahun'] = day_df['tahun'].map(year_mapping)
hour_df['tahun'] = hour_df['tahun'].map(year_mapping)

Mengembalikan nilai 'suhu', 'suhu_subjek, 'kelembapan', dan 'kecepatan_angin' ke nilai aslinya:

In [210]:
def return_value(df):
    df['suhu'] = (df['suhu'] * 41).round().astype(int)
    df['suhu_subjek'] = (df['suhu_subjek'] * 50).round().astype(int)
    df['kelembapan'] = (df['kelembapan'] * 100).round().astype(int)
    df['kecepatan_angin'] = (df['kecepatan_angin'] * 67).round().astype(int)
    return df


hour_df = return_value(hour_df)
day_df = return_value(day_df)

Mengubah format pada kolom 'jam' menjadi format (00:00) 24 jam

In [221]:
hour_df['jam'] = hour_df['jam'].apply(lambda x: '{:02d}:00'.format(x))

Menampilkan 5 data teratas untuk memeriksa hasil beberapa konversi yang dilakukan

In [225]:
day_df.head()

,no,tanggal,musim,tahun,bulan,hari_libur,hari,hari_kerja,cuaca,suhu,suhu_subjek,kelembapan,kecepatan_angin,kasual,terdaftar,total
0,1,2011-01-01,Semi,2011,Januari,0,Sabtu,0,Berkabut,14,18,81,11,331,654,985
1,2,2011-01-02,Semi,2011,Januari,0,Minggu,0,Berkabut,15,18,70,17,131,670,801
2,3,2011-01-03,Semi,2011,Januari,0,Senin,1,Cerah,8,9,44,17,120,1229,1349
3,4,2011-01-04,Semi,2011,Januari,0,Selasa,1,Cerah,8,11,59,11,108,1454,1562
4,5,2011-01-05,Semi,2011,Januari,0,Rabu,1,Cerah,9,11,44,13,82,1518,1600

In [226]:
hour_df.head()

,no,tanggal,musim,tahun,bulan,jam,hari_libur,hari,hari_kerja,cuaca,suhu,suhu_subjek,kelembapan,kecepatan_angin,kasual,terdaftar,total
0,1,2011-01-01,Semi,2011,Januari,00:00,0,Sabtu,0,Cerah,10,14,81,0,3,13,16
1,2,2011-01-01,Semi,2011,Januari,01:00,0,Sabtu,0,Cerah,9,14,80,0,8,32,40
2,3,2011-01-01,Semi,2011,Januari,02:00,0,Sabtu,0,Cerah,9,14,80,0,5,27,32
3,4,2011-01-01,Semi,2011,Januari,03:00,0,Sabtu,0,Cerah,10,14,75,0,3,10,13
4,5,2011-01-01,Semi,2011,Januari,04:00,0,Sabtu,0,Cerah,10,14,75,0,0,1,1

Mari kita coba dengan memunculkan 10 data sampel acak untuk memeriksa lagi apakah data sudah bersih...

In [228]:
day_df.sample(10)

,no,tanggal,musim,tahun,bulan,hari_libur,hari,hari_kerja,cuaca,suhu,suhu_subjek,kelembapan,kecepatan_angin,kasual,terdaftar,total
523,524,2012-06-07,Panas,2012,Juni,0,Kamis,1,Cerah,25,28,57,11,1038,6456,7494
363,364,2011-12-30,Semi,2011,Desember,0,Jumat,1,Cerah,13,16,64,9,491,2508,2999
52,53,2011-02-22,Semi,2011,Februari,0,Selasa,1,Cerah,7,9,58,13,74,1376,1450
130,131,2011-05-11,Panas,2011,Mei,0,Rabu,1,Cerah,22,26,63,8,550,3632,4182
261,262,2011-09-19,Gugur,2011,September,0,Senin,1,Berkabut,23,26,69,10,691,3848,4539
190,191,2011-07-10,Gugur,2011,Juli,0,Minggu,0,Cerah,31,35,58,12,1743,3138,4881
458,459,2012-04-03,Panas,2012,April,0,Selasa,1,Cerah,19,23,40,7,1348,5424,6772
612,613,2012-09-04,Gugur,2012,September,0,Selasa,1,Cerah,30,34,76,16,867,5997,6864
421,422,2012-02-26,Semi,2012,Februari,0,Minggu,0,Cerah,11,13,41,14,515,2874,3389
711,712,2012-12-12,Dingin,2012,Desember,0,Rabu,1,Berkabut,12,15,54,11,310,5009,5319

In [227]:
hour_df.sample(10)

,no,tanggal,musim,tahun,bulan,jam,hari_libur,hari,hari_kerja,cuaca,suhu,suhu_subjek,kelembapan,kecepatan_angin,kasual,terdaftar,total
10619,10620,2012-03-23,Panas,2012,Maret,14:00,0,Jumat,1,Berkabut,30,33,42,7,208,224,432
10814,10815,2012-03-31,Panas,2012,Maret,17:00,0,Sabtu,0,Cerah,20,23,67,28,238,305,543
14296,14297,2012-08-23,Gugur,2012,Agustus,21:00,0,Kamis,1,Cerah,29,33,61,9,53,276,329
15894,15895,2012-10-30,Dingin,2012,Oktober,23:00,0,Selasa,1,Cerah,12,15,81,9,3,36,39
13584,13585,2012-07-25,Gugur,2012,Juli,05:00,0,Rabu,1,Cerah,26,30,65,11,5,54,59
13823,13824,2012-08-04,Gugur,2012,Agustus,04:00,0,Sabtu,0,Cerah,30,35,79,13,2,11,13
15907,15908,2012-10-31,Dingin,2012,Oktober,12:00,0,Rabu,1,Cerah,16,20,58,13,44,197,241
11967,11968,2012-05-18,Panas,2012,Mei,20:00,0,Jumat,1,Cerah,25,31,41,11,73,264,337
10318,10319,2012-03-11,Semi,2012,Maret,00:00,0,Minggu,0,Cerah,11,14,44,6,7,62,69
4968,4969,2011-07-30,Gugur,2011,Juli,22:00,0,Sabtu,0,Cerah,32,36,52,7,80,129,209

Langkah terakhir kita simpan masing-masing data yang sudah dibersihkan hehehe...

**Insight:**
- Dalam proses pembersihan data, beberapa langkah penting dilakukan untuk meningkatkan kualitas dan keterbacaan data. Pertama, tipe data pada kolom tanggal seperti "dteday" diubah menjadi format datetime untuk kemudahan analisis waktu. Selain itu, kolom-kolom tertentu diubah menjadi tipe kategori untuk menyederhanakan dan memperjelas struktur data.
- Nama kolom juga disesuaikan untuk memperjelas makna, seperti mengubah nama kolom "musim", "bulan", "hari", dan "cuaca" agar lebih deskriptif. Data numerik pada kolom seperti 'suhu', 'kelembapan', dan 'kecepatan angin' dikembalikan ke nilai aslinya agar lebih representatif.
- Format jam juga diubah menjadi format 24-jam (00:00) untuk konsistensi tampilan waktu. Akhirnya, pemeriksaan tambahan dilakukan melalui sampel data acak untuk memastikan bahwa proses pembersihan berjalan dengan baik dan hasilnya siap digunakan dalam analisis lebih lanjut.

## Exploratory Data Analysis (EDA)

### Explore ...

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2